{% extends 'smapp/base.html' %}

{% block content %}
<form name="search" method="post" action="{% url 'lot_details' %}" class="w3-padding-64 w3-center">
        {% csrf_token %}
    <label class="w3-xlarge w3-animate-right">
        Tracking code:
        <input type="search" autocomplete="on" value="{{ lots.tracking_code  }}" placeholder="number of tracking" name="searched" required maxlength="10"  pattern="[1-9]{10}" title="10 numbers">
    </label>
    <button class="w3-xlarge w3-animate-right">Track</button>
</form>
{% endblock %}