{% extends 'smapp/base.html' %}

{% block content %}
<form name="search" method="post" action="{% url 'lot_details' %}" class="w3-animate-zoom w3-padding-64 w3-center">
        {% csrf_token %}
    <label class="w3-xlarge w3-animate-right">
        Tracking code:
        <input type="search" autocomplete="on" placeholder="code of 10 numbers..." name="searched" required maxlength="10"  pattern="[1-9]{10}" title="10 numbers">
    </label>
    <button class="w3-xlarge w3-animate-right">Track</button>
</form>

<div class="w3-row">

    <div class="w3-animate-bottom w3-col l3 w3-margin-left w3-justify w3-khaki w3-panel w3-border w3-round-xxlarge">
    <h1 style="font-family: 'Lobster Two', cursive;">Cos'è la carne sintetica?</h1>
    <p style="font-family: 'Roboto Mono', monospace;" class="w3-large">La carne sintetica è un <strong>alimento proteico</strong> ricavato per agricoltura cito/istologica in vitro di cellule/tessuto animale.</p>
    <br>
    <h1 style="font-family: 'Lobster Two', cursive;">Cosa non è la carne sintetica?</h1>
    <h3><i>Carne sintetica vs Carne vegetale</i></h3>
    <p style="font-family: 'Roboto Mono', monospace;" class="w3-large">Carne sintetica e carne vegetale (un evidente ossimoro) non sono la stessa cosa.
        Con "<u class="w3-text-blue">carne vegetale</u>" si intende un'intera categoria di <u class="w3-text-blue">alimenti vegetali</u>, ottenuti da farine di legumi, cereali, altre granaglie ecc., oppure da proteine isolate degli stessi; <u class="w3-text-blue">la sua funzione è di sostituire interamente gli ingredienti di origine animale</u>, soddisfacendo i criteri della filosofia <u class="w3-text-blue">vegana</u>, ma apportando comunque un'alta percentuale proteica.</p>
    <p style="font-family: 'Roboto Mono', monospace;" class="w3-large">Perché specificarne la differenza? Semplicemente perché, in Italia, carne sintetica (o finta carne) è un altro modo di chiamare i surrogati proteici vegetali. <b>Non bisogna però cadere nell'errore di usare i due nomi come sinonimi.</b></p>
    </div>

    <div class="w3-animate-bottom w3-col l5 w3-justify w3-margin-left w3-aqua w3-panel w3-border w3-round-xxlarge">
    <h1 style="font-family: 'Lobster Two', cursive;">Come si produce?</h1>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">La carne sintetica viene prodotta utilizzando <b>tecniche bioingegneristiche</b> studiate per la sintesi di <b>tessuto vivente</b> nell'ambito della medicina riabilitativa.</p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">La prima componente dell'agricoltura cellulare è l'ottenimento delle cosiddette <i><b>linee cellulari</b></i>, generalmente costituite da <i><b>cellule staminali</b></i>.
        Trattasi di cellule indifferenziate che hanno il potenziale per diventare molti o tutti i tipi di cellule specializzate, a seconda che siano totipotenti, pluripotenti o unipontenti.
        <u>Per ottenere carne sintetica vengono impiegate cellule staminali pluripotenti</u> indotte (iPSC), ovvero cellule del sangue o della pelle riprogrammate.
        Le linee cellulari si potrebbero <b>anche</b> raccogliere da una <b>fonte primaria</b>, cioè attraverso una biopsia su animale anestetizzato localmente, o da fonti secondarie, tipo le colture crioconservate.</p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">Il mezzo di crescita sono i <b class="w3-text-red">mioblasti</b>, ovvero i precursori delle future cellule muscolari.
        Una volta stabilite le linee cellulari, per poter proliferare, esse vengono immerse in un mezzo di coltura formulato con <i class="w3-text-red">carboidrati, grassi, proteine e minerali</i> necessari allo sviluppo. Una volta cresciuta, ogni cellula si dividerà aumentando la popolazione in modo esponenziale.
        Iniziata la differenziazione, le fibre muscolari si contraggono generando acido lattico.
    </p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">
    Per ottenere carne sintetica strutturata, le cellule devono essere seminate in impalcature o <u class="w3-text-blue">scaffolds</u>.
        Queste sono fondamentalmente uno stampo, una sorta di scheletro, necessario ad organizzare una struttura ordinata.
    </p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">
        Un altro modo per strutturare il tessuto muscolare è la <b class="w3-text-green">produzione additiva</b>. Questa tecnica è già stata perfezionata per la produzione di oggetti in plastica, nylon, metallo, vetro e altri materiali sintetici.
        I filamenti di cellule muscolari possono essere stampati in una struttura somigliante ad un prodotto di carne che può quindi essere ulteriormente lavorato per la maturazione cellulare.
    </p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">
        Per un corretto sviluppo, le impalcature vengono collocate all'interno di bioreattori (prevalentemente a serbatoio), ovvero grandi macchine che espongono le cellule ai fattori ambientali necessari alla proliferazione o alla differenziazione (37 °C, CO2 al 5% ecc.).
    </p>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">
        Gli elementi sopra descritti si applicano alla coltivazione del tessuto muscolare animale.
        Tuttavia, ciò si estende anche alla <b class="w3-tex-orange">coltura "acellulare"</b>, che implica la produzione di prodotti animali <b class="w3-text-orange">sintetizzati da materiale non vivente</b>.
        Tali prodotti includono latte, miele, uova, formaggio, gelatina, che sono fatti di proteine e altri nutrienti, piuttosto che di cellule.
        In questi casi, le proteine devono essere fermentate in modo simile alla produzione di proteine ricombinanti, di alcol e di molti prodotti a base vegetale come tofu, tempeh e crauti.
    </p>
    </div>

    <div class="w3-animate-bottom w3-col l3 w3-justify w3-margin-left w3-pale-red w3-panel w3-border w3-round-xxlarge">
    <h1 style="font-family: 'Lobster Two', cursive;">Perché sceglierla?</h1>
    <p class="w3-large" style="font-family: 'Roboto Mono', monospace;">
        Inutile dirlo, produzione, vendita e consumo di carne sintetica continuano a suscitare molto scalpore.
        Da un lato troviamo soprattutto <b>la contrarietà di tradizionalisti</b>, amanti della cucina e timorosi di eventuali conseguenze negative per la salute. Dall'altro <b>l'entusiasmo di ambientalisti, economi e scienziati</b>.
        <i class="w3-yellow">Ad oggi si possiedono le conoscenze necessarie per poter rimpiazzare efficacemente la carne muscolare</i>, senza provocare alcuna carenza nutrizionale di tipo proteico e, al tempo stesso, riducendo l'impatto ambientale degli allevamenti.
        Chiunque sia disposto ad approfondire l'argomento, potrà comprendere facilmente che la popolazione umana (mediamente in crescita) non può continuare ad essere nutrita come nell'ultimo secolo. <b>Il pianeta è assolutamente incapace di sostenere a lungo questo ritmo – in termini di inquinamento e di sfruttamento delle risorse naturali</b>.
        Peraltro molti ignorano che l'accrescimento del bestiame, soprattutto dei grossi mammiferi, necessita di un'enorme quantità foraggio – soprattutto cereali e leguminose. Ciò detto, la superficie terrestre coltivabile non è "infinita"; in un determinato appezzamento quindi, o si coltivano i foraggi, o si coltivano i vegetali direttamente necessari all'uomo; questo discorso interessa moltissimo i paesi poveri e in via di sviluppo.
        Anche in considerazione del fatto che il progresso tecnologico sta velocemente ottimizzando il ciclo di produzione della carne sintetica, <b>lato sostenibilità ecologica, la carne sintetica vince dieci a zero</b>; <i><u>lato sostenibilità economica, il lavoro è ancora lungo</u></i>.
        <i class="w3-yellow">La principale controversia</i> della carne sintetica è una sola: <i class="w3-yellow">non ha le stesse caratteristiche organolettiche e gustative della carne muscolare</i>.
        È anche vero che, tra gli scettici, <i>quasi nessuno può affermare di averla provata</i>.
    </p>
    </div>

</div>
{% endblock %}